mime coin.json
{
  "name": "mime coin",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        144
      ],
      "id": "a725d222-0eb1-4e07-9fd2-7176161980a7",
      "name": "Telegram Trigger",
      "webhookId": "b409894a-2150-4ea0-9164-5a6b29565e61",
      "credentials": {
        "telegramApi": {
          "id": "ct6sq6ZpLxDjM2wN",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        160
      ],
      "id": "c91759fd-bc03-4dee-bbae-5173715963ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7ea4090-2057-4bf5-8073-7e8d3ce4b782",
              "name": "tokenAddress",
              "value": "={{ $('Loop Over Items').item.json.tokenAddress }}",
              "type": "string"
            },
            {
              "id": "75f12ad2-2216-458d-84b3-97ba55895bca",
              "name": "name",
              "value": "={{ $('Loop Over Items').item.json.name }}",
              "type": "string"
            },
            {
              "id": "ddfc68f7-a5d5-494b-85b7-f9ef99c34845",
              "name": "marketCap",
              "value": "={{ $('Loop Over Items').item.json.marketCap }}",
              "type": "number"
            },
            {
              "id": "1bbd2f58-cd2e-4e18-a7fd-bf6349bf50f5",
              "name": "liquidityUsd",
              "value": "={{ $('Loop Over Items').item.json.liquidityUsd }}",
              "type": "number"
            },
            {
              "id": "ee03b3ce-f9b9-400d-a3f5-363c2ce8ac2c",
              "name": "pricePercentChange['1h']",
              "value": "={{ $('Loop Over Items').item.json.pricePercentChange['1h'] }}",
              "type": "number"
            },
            {
              "id": "e47d4d19-66cb-48d5-b335-14df137f346a",
              "name": "pricePercentChange['4h']",
              "value": "={{ $('Loop Over Items').item.json.pricePercentChange['4h'] }}",
              "type": "number"
            },
            {
              "id": "423dc280-8322-49d9-9941-25f607cbeade",
              "name": "sellTransactions['4h']",
              "value": "={{ $('Loop Over Items').item.json.sellTransactions['4h'] }}",
              "type": "number"
            },
            {
              "id": "3326a1d9-1fa0-4f54-b3ea-cf5bd1cf3e4a",
              "name": "sellTransactions['12h']",
              "value": "={{ $('Loop Over Items').item.json.sellTransactions['12h'] }}",
              "type": "number"
            },
            {
              "id": "a128724c-a088-4e89-bcbd-e8a2f9533a65",
              "name": "sellTransactions['24h']",
              "value": "={{ $('Loop Over Items').item.json.sellTransactions['24h'] }}",
              "type": "number"
            },
            {
              "id": "381127c4-cbc2-464e-b2b5-a25c20685880",
              "name": "buyers['1h']",
              "value": "={{ $('Loop Over Items').item.json.buyers['1h'] }}",
              "type": "number"
            },
            {
              "id": "86de7449-fbea-4279-b65b-561a4cde96e0",
              "name": "buyers['4h']",
              "value": "={{ $('Loop Over Items').item.json.buyers['4h'] }}",
              "type": "number"
            },
            {
              "id": "2c9546c6-d019-4dd9-b01a-6759f49883ef",
              "name": "buyers['12h']",
              "value": "={{ $('Loop Over Items').item.json.buyers['12h'] }}",
              "type": "number"
            },
            {
              "id": "15fc5034-8a8c-4b14-a15f-b4fbd2efa5f7",
              "name": "buyers['24h']",
              "value": "={{ $('Loop Over Items').item.json.buyers['24h'] }}",
              "type": "number"
            },
            {
              "id": "58dfa3ba-63b1-4e06-8c62-a0c57c2322c2",
              "name": "sellers['1h']",
              "value": "={{ $('Loop Over Items').item.json.sellers['1h'] }}",
              "type": "number"
            },
            {
              "id": "d9f8ff16-604f-420c-8ff6-dc6be7df00e9",
              "name": "sellers['4h']",
              "value": "={{ $('Loop Over Items').item.json.sellers['4h'] }}",
              "type": "number"
            },
            {
              "id": "06c2c70f-c1f9-4510-8723-6de668c86951",
              "name": "sellers['12h']",
              "value": "={{ $('Loop Over Items').item.json.sellers['12h'] }}",
              "type": "number"
            },
            {
              "id": "6e9ac39a-199f-476f-9bd2-8aea2ee4e27b",
              "name": "sellers['24h']",
              "value": "={{ $('Loop Over Items').item.json.sellers['24h'] }}",
              "type": "number"
            },
            {
              "id": "e7ffb9e2-fccb-4193-95e0-91455b900b45",
              "name": "buyTransactions['1h']",
              "value": "={{ $('Loop Over Items').item.json.buyTransactions['1h'] }}",
              "type": "number"
            },
            {
              "id": "14d6af8a-5c0a-474a-b1d2-3be41a453694",
              "name": "buyTransactions['4h']",
              "value": "={{ $('Loop Over Items').item.json.buyTransactions['4h'] }}",
              "type": "number"
            },
            {
              "id": "c53acd96-5176-4f01-ba43-f79a188b7180",
              "name": "buyTransactions['12h']",
              "value": "={{ $('Loop Over Items').item.json.buyTransactions['12h'] }}",
              "type": "number"
            },
            {
              "id": "fa6e4db2-4592-4d58-8a4d-78fba6113903",
              "name": "buyTransactions['24h']",
              "value": "={{ $('Loop Over Items').item.json.buyTransactions['24h'] }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        240
      ],
      "id": "caab0635-88ae-41fb-b3a1-658be038a68f",
      "name": "Lable"
    },
    {
      "parameters": {
        "url": "=https://solana-gateway.moralis.io/token/mainnet/holders/{{ $json.tokenAddress }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjNhY2Y1NGEzLWQ5NDYtNGM4My04Y2RlLTIwODlhMjIyZmNhYyIsIm9yZ0lkIjoiNDQ4MjM3IiwidXNlcklkIjoiNDYxMTc5IiwidHlwZUlkIjoiMjA4MzgxNDUtZmIzZC00MTZkLWFjZmQtNjM4NDk4Mjg2Mjc1IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NDc3ODQxMjYsImV4cCI6NDkwMzU0NDEyNn0.uzPtBQsjhV4RtEDep59r7Av9SfTVN5DgECkKGCfgWCQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        160
      ],
      "id": "47c660b8-53e2-4200-b886-3a5a1b419265",
      "name": "Get Holder Data"
    },
    {
      "parameters": {
        "url": "https://deep-index.moralis.io/api/v2.2/tokens/trending",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjNhY2Y1NGEzLWQ5NDYtNGM4My04Y2RlLTIwODlhMjIyZmNhYyIsIm9yZ0lkIjoiNDQ4MjM3IiwidXNlcklkIjoiNDYxMTc5IiwidHlwZUlkIjoiMjA4MzgxNDUtZmIzZC00MTZkLWFjZmQtNjM4NDk4Mjg2Mjc1IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NDc3ODQxMjYsImV4cCI6NDkwMzU0NDEyNn0.uzPtBQsjhV4RtEDep59r7Av9SfTVN5DgECkKGCfgWCQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        160
      ],
      "id": "068c74eb-e681-4759-8d21-b6afb4c1b50f",
      "name": "Get Coin Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7af446fa-0eb1-4b2b-98c3-847aaec7152d",
              "leftValue": "={{ $json.marketCap }}",
              "rightValue": 5000000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cea5a9c8-7113-4bbe-8b83-1de4630f3454",
              "leftValue": "={{ $json.marketCap }}",
              "rightValue": 2000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ac94b39d-d943-416b-9e74-a20a794df01f",
              "leftValue": "={{ $json.liquidityUsd }}",
              "rightValue": 40000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f9ec2bc1-60c5-496e-b7fd-57ffa0cf4cf0",
              "leftValue": "={{ $json.chainId }}",
              "rightValue": "solana",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        160
      ],
      "id": "71eb2f3d-efab-4ebf-9984-56091e85721d",
      "name": "Risk"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        -96
      ],
      "id": "2a3ad49b-ab09-4925-a431-c58e068f7279",
      "name": "Combine All"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        -16
      ],
      "id": "866b55f7-a9d9-4edf-bd71-2653fa77dec6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kbpuRKAch5bHc2C1",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$items(\"Telegram Trigger\")[0].json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -96
      ],
      "id": "6efcd5a0-6144-436d-8ecd-827f19950979",
      "name": "Telegram",
      "webhookId": "59ee10ba-3d57-4784-b47e-c7b258a184a0",
      "credentials": {
        "telegramApi": {
          "id": "ct6sq6ZpLxDjM2wN",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is today’s JSON array of Solana tokens (pre-filtered to $1–5 M market caps):\n{{JSON.stringify($json.data)}}\n\nScore each by Price momentum, Volume & transaction momentum, Holder health, and Risk factors; pick the top 3.  \nOutput a Telegram-ready alert with date, bold symbols, contract addresses, and 1–2-sentence rationales citing real metrics.\n",
        "options": {
          "systemMessage": "=You are a Solana memecoin quant strategist. Every day, you will be given a JSON array of tokens pre-filtered to market caps between $1 M and $5 M. Each token object includes these fields:\n\n  • symbol, name, tokenAddress  \n  • marketCap, liquidityUsd  \n  • pricePercentChange (1 h, 4 h, 12 h, 24 h)  \n  • totalVolume (1 h, 4 h, 12 h, 24 h)  \n  • transactions, buyTransactions, sellTransactions  \n  • buyers, sellers  \n  • totalHolders, holderChange (5 min, 1 h, 6 h, 24 h)  \n  • holderDistribution (whales, sharks, dolphins, etc.)  \n  • holderSupply.top10.supplyPercent  \n\nUse only these metrics to evaluate each token on four dimensions:\n\n  1. **Price momentum** (weight pricePercentChange)  \n  2. **Volume & transaction momentum** (totalVolume change, trade counts, buy/sell ratio)  \n  3. **Holder health** (totalHolders growth, balanced distribution, low top-10 supply %)  \n  4. **Risk factors** (high whale concentration, sudden drops in holders, low totalHolders)  \n\nScore all tokens by a composite of these factors, sort by score, and pick the top 3.\n\n**Output** a Telegram-ready alert in this exact format:\n\n🚀 Top 3 Solana Memecoin Picks:  \nDate: {{new Date().toLocaleDateString()}} \n\n**1. SYMBOL**  \n• Reason: [1–2 sentences citing 2–3 actual metrics, e.g. “+15% in 4 h, 4× volume surge, top-10 hold 17%”]  \n• Contract: `tokenAddress`  \n\n**2. SYMBOL**  \n• Reason: [momentum & holder spread]  \n• Contract: `tokenAddress`  \n\n**3. SYMBOL**  \n• Reason: [buy/sell ratio & holder growth]  \n• Contract: `tokenAddress`  \n\n—  \n• Use **bold** for symbols.  \n• Show the date in YYYY-MM-DD format.  \n• Each “Reason” line must reference real fields from the JSON input.\n• Please Write The Output In Persian\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        352,
        -208
      ],
      "id": "b1060d0a-c861-498f-9b86-e41486f6b579",
      "name": "Meme Coin Analyst"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Coin Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Combine All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Holder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Holder Data": {
      "main": [
        [
          {
            "node": "Lable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Coin Data": {
      "main": [
        [
          {
            "node": "Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All": {
      "main": [
        [
          {
            "node": "Meme Coin Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Meme Coin Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Meme Coin Analyst": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e9f02c5-cba3-49be-824b-57aeffd73bf1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3181f7fbd61c75f43081e9c0bf5ee3a99eef47e6ecd97e364a854f0356a066e8"
  },
  "id": "hzdOQVrFSntV8dKM",
  "tags": []
}